.footerSectionHeader {
  $offset: 12px;
  // Get the width of the element in pixels
  // Calculate the offset for the clip-path in percentage
  $offsetPercentage: calc(100% - $offset);
  clip-path: polygon(0 0, #{$offsetPercentage} 0, 100% 50%, #{$offsetPercentage} 100%, 0 100%);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.footerTerminal {
  text-shadow: 0 0 3px rgba(200, 200, 200, 0.4);
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
  }
}
